<!-- 這裡需要加錯誤訊息，否則驗證沒通過時 user 體驗會卡住 -->

<%= simple_form_for @disaster do |f| %>
  <div class="form-group">
    <%= f.input :name , input_html:{class: "form-control"} %>
    <%= f.input :description , input_html:{class: "form-control"} %>
    <br>請選擇分類：<br>
    <%= f.collection_select( :info_id, Info.all, :id, :name, prompt: true) %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting....."} %>
<% end %>
