<table class="table table-hover">
  <thead>
    <tr>
      <th>名稱</th>
      <th>詳細敘述</th>
      <th>date</th>
      <th>Creator</th>

    </tr>
  </thead>
  <tbody>
        <tr>
          <td><%= @disaster.name %></td>
          <td><%= @disaster.description %></td>
          <td><%= @disaster.created_at %></td>
          <td><%= @disaster.user.email %></td>
        </tr>
  </tbody>
</table>
<div class="container text-center" >
  <!-- <div  style="border: 1px solid blue; width: 30%;"> -->
          <h3>留言</h3>
          <br>
          <table class="table table-bordered table-hover">
            <tbody>
              <% @comments.each do |comment| %>
                  <tr>

                      <td><%= comment.content %></td>

                  </tr>
                  <% end %>
            </tbody>
          </table>
          <%= simple_form_for @comment, url: comment_disaster_path do |f| %>
            <div class="form-group">
              <%= f.input :content , input_html:{class: "form-control"} %>
            </div>
            <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting....."} %>
          <% end %>

  </div>
</div>

<br>
<div class="text-center">
<%= link_to "回上一頁",disasters_path, class: "btn btn-primary" %>

</div>
